<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
   <context-param>
     <param-name>contextConfigLocation</param-name>
     <param-value>classpath:applicationContext.xml</param-value>
   </context-param>
	
	<error-page>
	  <error-code>404</error-code>
	  <location>/Error</location>
	</error-page>
	
	<error-page>
	  <exception-type>java.lang.Throwable</exception-type >
	  <location>/Error</location>
	</error-page>
   
   <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
   </listener>
   
	<servlet>
      <servlet-name>entrypointLoader</servlet-name>
      <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	
	<servlet>
      <servlet-name>exceptionHandler</servlet-name>
      <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
	</servlet>
	
    <listener>
      <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
	
    <servlet-mapping>
      <servlet-name>default</servlet-name>
      <url-pattern>/static/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
	  <servlet-name>exceptionHandler</servlet-name>
	  <url-pattern>/Error</url-pattern>
	</servlet-mapping>
    
	<servlet-mapping>
	  <servlet-name>entrypointLoader</servlet-name>
	  <url-pattern>/</url-pattern>
	</servlet-mapping>
	
</web-app>